<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Smarty Admin</title>
    <meta name="description" content="" />
    <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="Admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="Admin/assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="Admin/assets/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="Admin/assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
    <style>
        .col-centered{
            float: none;
            margin: 0 auto;
        }
    </style>
</head>
<!--
    .boxed = boxed version
-->
<body>


<div class="padding-15 container">
    <div class="row">
    <div class="login-box col-xs-12 col-md-6 col-centered">
        <!-- login form -->
        <form action="/login" method="post" class="sky-form boxed">
            <header><i class="fa fa-users"></i> 로그인</header>

            <!--
            <div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
                Invalid Email or Password!
            </div>

            <div class="alert alert-warning noborder text-center weight-400 nomargin noradius">
                Account Inactive!
            </div>

            <div class="alert alert-default noborder text-center weight-400 nomargin noradius">
                <strong>Too many failures!</strong> <br />
                Please wait: <span class="inlineCountdown" data-seconds="180"></span>
            </div>
            -->

            <fieldset>

                <section>
                    <label class="label">아이디</label>
                    <label class="input">
                        <i class="icon-append fa fa-envelope"></i>
                        <input type="id" name="id">
                        <span class="tooltip tooltip-top-right">아이디를 입력하세요</span>
                    </label>
                </section>

                <section>
                    <label class="label">비밀번호</label>
                    <label class="input">
                        <i class="icon-append fa fa-lock"></i>
                        <input type="password" name="password">
                        <b class="tooltip tooltip-top-right">비밀번호를 입력하세요</b>
                    </label>
                </section>

            </fieldset>

            <footer>
                <label class="radio pull-left" style="display:inline"><input type="radio" value="member" name="userType" checked="checked"><i></i>일반회원</label>
                <label class="radio pull-left" style="display:inline"><input type="radio" value="admin" name="userType"><i></i>관리자</label>
                <button type="submit" class="btn btn-primary pull-right">로그인</button>
            </footer>
        </form>
        <!-- /login form -->

        <hr />

    </div>
    </div>
    <input type="hidden" id="errorMessage" name="errorMessage" value="<%=errorMessage%>">

</div>
<script>
    var errMsg = document.getElementById('errorMessage');
    if(errMsg.value=='id'){
        alert('id를 확인하세요!!');
    }else if(errMsg.value=='pwd'){
        alert('비밀번호를 확인하세요!!');
    }else if(errMsg.value=='login_requirement'){
        alert('로그인이 필요합니다!!');
    }
</script>


<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = 'Admin/assets/plugins/';</script>
<script type="text/javascript" src="Admin/assets/plugins/jquery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="Admin/assets/js/app.js"></script>
</body>
</html>