<!DOCTYPE html>
<html>
<head>


  <meta charset="utf-8" />
  <title>WOOJUNG - TECH</title>
  <meta name="keywords" content="HTML5,CSS3,Template" />
  <meta name="description" content="" />
  <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="/project_template/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="/project_template/assets/css/essentials.css" rel="stylesheet" type="text/css" />
  <link href="/project_template/assets/css/layout.css" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="/project_template/assets/css/header-1.css" rel="stylesheet" type="text/css" />
  <link href="/project_template/assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />

  <style>
    html, body{
      height:100%;
      font-family: '맑은고딕';
    }
    .as_list_tr:hover{
      background-color: #c09853;
      cursor: pointer;
    }

    .member_tr{
      cursor: pointer;
    }

    .fc-sun {color:#e31b23} /* fullcalendar 일요일 */
    .fc-sat {color:#007dc3} /* fullcalendar 토요일 */

    .fc-day-number.fc-sat.fc-past { color:#0000FF; }
    .fc-day-number.fc-sun.fc-past { color:#FF0000; }
  </style>



</head>


<%- body %>

<!--추가-->
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-transition.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-alert.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-modal.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-dropdown.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-scrollspy.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-tab.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-tooltip.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-popover.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-button.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-collapse.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-carousel.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-typeahead.js"></script>

</body>
</html>
