<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <link href="/bootstrap-2.3.2/docs/assets/css/bootstrap.css" rel="stylesheet">
  <link href="/bootstrap-2.3.2/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/jquery/jquery-ui.min.css" rel="stylesheet">
  <link href="/jquery/jquery-ui.structure.min.css" rel="stylesheet">
  <link href="/jquery/jquery-ui.theme.min.css" rel="stylesheet">
  <script src="/jquery/jquery-3.1.1.js"></script>
  <script src="/jquery/jquery-ui.min.js"></script>
  <style>
    html, body{
      height:100%;
      font-family: '맑은고딕';
    }
    .as_list_tr:hover{
      background-color: #c09853;
      cursor: pointer;
    }
  </style>

  <script>
    $(function() {
      $( ".date_picker" ).datepicker({
        dateFormat:'yy년 m월 d일',
        changeMonth: true,
        dayNames: [ '일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
        dayNamesMin: ['일','월', '화', '수', '목', '금', '토'],
        monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
        monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월']
      });
    });
  </script>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/login">Woojung</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/AS/getAllList">A/S관리</a></li>
          <li><a href="/inspection/createForm">주기안내</a></li>
          <li><a href="/about">캘린더</a></li>
        </ul>
        <form class="navbar-form pull-right" method="post" action="/login/logout">
          <button type="submit" class="btn btn-danger">로그아웃</button>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<%- body %>

<!--추가-->
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-transition.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-alert.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-modal.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-dropdown.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-scrollspy.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-tab.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-tooltip.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-popover.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-button.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-collapse.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-carousel.js"></script>
<script src="/bootstrap-2.3.2/docs/assets/js/bootstrap-typeahead.js"></script>

</body>
</html>
