<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>WoojungBSC TECH DEPARTMENT</title>
    <meta name="keywords" content="HTML5,CSS3,Template" />
    <meta name="description" content="" />
    <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- WEB FONTS : use %7C instead of | (pipe) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="Smarty/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- REVOLUTION SLIDER -->
    <link href="Smarty/assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
    <link href="Smarty/assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="Smarty/assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="Smarty/assets/css/layout.css" rel="stylesheet" type="text/css" />

    <!-- PAGE LEVEL SCRIPTS -->
    <link href="Smarty/assets/css/header-1.css" rel="stylesheet" type="text/css" />
    <link href="Smarty/assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
</head>

<!--
    AVAILABLE BODY CLASSES:

    smoothscroll 			= create a browser smooth scroll
    enable-animation		= enable WOW animations

    bg-grey					= grey background
    grain-grey				= grey grain background
    grain-blue				= blue grain background
    grain-green				= green grain background
    grain-blue				= blue grain background
    grain-orange			= orange grain background
    grain-yellow			= yellow grain background

    boxed 					= boxed layout
    pattern1 ... patern11	= pattern background
    menu-vertical-hide		= hidden, open on click

    BACKGROUND IMAGE [together with .boxed class]
    data-background="Smarty/assets/images/boxed_background/1.jpg"
-->
<body class="smoothscroll enable-animation">

<!-- SLIDE TOP -->
<div id="slidetop">

    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <h6><i class="icon-heart"></i> 우정BSC 기술부</h6>
                <p>생명과학 연구자들의 성공적인 여구 결과를 위하여 우정비에스씨는 1989년 설립된 이래 바이오 신약개발 분야의 발전을 위해 노력해 왔습니다. 신약개발을 포함한 생명과학 전 분야의 성공적인 연구를 위하여 최첨단 시스템 및 장비와 최신 정보를 연구자들에게 제공하고 있습니다.</p>
            </div>

            <div class="col-md-5">
                <h6><i class="icon-attachment"></i> Bio-Medical Research</h6>
                <ul class="list-unstyled">
                    <li><a href="#"> 언제든지 국내 연구자분들이 추구하는 것을 이해하고 귀담아 들으며</a></li>
                    <li><a href="#"> 여러분의 의견을 밑거름으로 국내 바이오 신약개발과 생명과학연구분야의 </a></li>
                    <li><a href="#"> 든든한 동반자가 될 수 있도록 노력하고 함께 배워나가겠습니다.</a></li>
                    <li><a href="#">고객여러분들의 연구에 무궁한 성과가 있으시길 기원합니다.</a></li>
                    <li class="pull-right"><a href="#"><strong>- 우정 비에스씨 임직원 일동 -</strong></a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h6><i class="icon-envelope"></i>Contact</h6>
                <ul class="list-unstyled">
                    <li><b>주소:</b> 경기도 수원시 영통구 광교로 145,<br> 차세대융합기술연구원 A동8층</li>
                    <li><b>전화번호:</b> 031-888-9369</li>
                    <li><b>E-mail:</b> wj@woojungbsc.co.kr</li>
                    <li><b>Fax:</b> 031-888-9368</li>
                </ul>
            </div>

        </div>

    </div>

    <a class="slidetop-toggle" href="#"><!-- toggle button --></a>

</div>
<!-- /SLIDE TOP -->


<!-- wrapper -->
<div id="wrapper">

    <!-- Top Bar -->
    <div id="topBar">
        <div class="container">

            <!-- right -->
            <ul class="top-links list-inline pull-right">
                <li class="text-welcome hidden-xs">Welcome to Woojung, <strong><%=name%>님</strong></li>
                <li>
                    <a class="dropdown-toggle no-text-underline" href="/login/logout"><i class="glyphicon glyphicon-off"></i>로그아웃</a>
                </li>
            </ul>

        </div>
    </div>
    <!-- /Top Bar -->


    <!--
        AVAILABLE HEADER CLASSES

        Default nav height: 96px
        .header-md 		= 70px nav height
        .header-sm 		= 60px nav height

        .noborder 		= remove bottom border (only with transparent use)
        .transparent	= transparent header
        .translucent	= translucent header
        .sticky			= sticky header
        .static			= static header
        .dark			= dark header
        .bottom			= header on bottom

        shadow-before-1 = shadow 1 header top
        shadow-after-1 	= shadow 1 header bottom
        shadow-before-2 = shadow 2 header top
        shadow-after-2 	= shadow 2 header bottom
        shadow-before-3 = shadow 3 header top
        shadow-after-3 	= shadow 3 header bottom

        .clearfix		= required for mobile menu, do not remove!

        Example Usage:  class="clearfix sticky header-sm transparent noborder"
    -->
    <div id="header" class="sticky shadow-after-3 clearfix">

        <!-- TOP NAV -->
        <header id="topNav">
            <div class="container">

                <!-- Mobile Menu Button -->
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- BUTTONS -->
                <!--<ul class="pull-right nav nav-pills nav-second-main">-->

                <!--</ul>-->
                <!-- /BUTTONS -->


                <!-- Logo -->
                <a class="logo pull-left" href="/login">
                    <img src="Smarty/assets/images/logo.png" alt="" />
                </a>

                <!--
                    Top Nav

                    AVAILABLE CLASSES:
                    submenu-dark = dark sub menu
                -->
                <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
                    <nav class="nav-main">

                        <!--
                            NOTE

                            For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                            Direct Link Example:

                            <li>
                                <a href="#">HOME</a>
                            </li>
                        -->
                        <ul id="topMain" class="nav nav-pills nav-main">
                            <li class="dropdown active"><!-- HOME -->
                                <a href="/AS/getAllList">
                                    A/S관리
                                </a>
                            </li>
                            <li class="dropdown"><!-- PAGES -->
                                <a href="/inspection/createForm">
                                    주기안내
                                </a>
                            </li>
                            <li class="dropdown"><!-- PAGES -->
                                <a href="/calendar">
                                    캘린더
                                </a>
                            </li>
                            <li class="dropdown"><!-- SHOP -->
                                <a class="dropdown-toggle">
                                    DB관리
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li class="dropdown">
                                        <a href="/member">
                                            <i class="et-genius"></i> 직원관리
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/customer">
                                            <i class="et-newspaper"></i>거래처 관리
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/code">
                                            <i class="et-expand"></i> 데이터 관리
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/addressBook">
                                            <i class="et-magnifying-glass"></i> 주소록 관리
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/equipment">
                                            <i class="et-trophy"></i> 장비명 관리
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/excel">
                                            <i class="et-grid"></i> 엑셀 추출
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a id="sidepanel_btn" href="#" class="fa fa-bars"></a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </header>
        <!-- /Top Nav -->

    </div>



    <!-- REVOLUTION SLIDER -->
    <div class="slider fullwidthbanner-container roundedcorners">
        <!--
            Navigation Styles:

                data-navigationStyle="" theme default navigation

                data-navigationStyle="preview1"
                data-navigationStyle="preview2"
                data-navigationStyle="preview3"
                data-navigationStyle="preview4"

            Bottom Shadows
                data-shadow="1"
                data-shadow="2"
                data-shadow="3"

            Slider Height (do not use on fullscreen mode)
                data-height="300"
                data-height="350"
                data-height="400"
                data-height="450"
                data-height="500"
                data-height="550"
                data-height="600"
                data-height="650"
                data-height="700"
                data-height="750"
                data-height="800"
        -->
        <div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
            <ul class="hide">

                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000" data-saveperformance="off" data-title="Slide 1" style="background-color: #F6F6F6;">

                    <img src="Smarty/assets/images/backgrounds/grey-noise-min.jpg" alt="video" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!--<img src="/images/main/mers.jpg" alt="video" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat">-->

                    <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                         data-x="left" data-hoffset="0"
                         data-y="70"
                         data-customin="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="400"
                         data-start="1000"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn">
                        <!--<img src="Smarty/assets/images/demo/desktop_slider_2.png" alt="">-->
                        <img src="/images/main/callcenter.jpg">
                    </div>

                    <div class="tp-caption large_bold_grey skewfromrightshort customout font-open-sans"
                         data-x="645"
                         data-y="70"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 4; font-weight:bold;">WOOJUNG BSC
                    </div>

                    <div class="tp-caption large_bold_grey skewfromleftshort customout font-open-sans"
                         data-x="645"
                         data-y="133"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="300"
                         data-start="1100"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 7; font-weight:bold !important;">기술부
                    </div>

                    <div class="tp-caption ltl customin customout small_light_white font-lato"
                         data-x="650"
                         data-y="235"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="500"
                         data-start="1300"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn" style=" color: #333; font-size:20px; max-width: 550px; white-space: normal; text-shadow:none;">
                        항상 고객을 먼저 생각하는<br/>
                        <strong>기술부가 함께합니다!!</strong>
                    </div>


                    <div class="tp-caption large_bold_darkblue skewfromleftshort customout"
                         data-x="650" data-hoffset="-90"
                         data-y="370"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1600"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 10; text-shadow:none;">200+
                    </div>

                    <!--<div class="tp-caption medium_bg_darkblue skewfromleftshort customout"-->
                         <!--data-x="650" data-hoffset="-90"-->
                         <!--data-y="430"-->
                         <!--data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"-->
                         <!--data-speed="500"-->
                         <!--data-start="1650"-->
                         <!--data-easing="Back.easeOut"-->
                         <!--data-endspeed="500"-->
                         <!--data-endeasing="Power4.easeIn"-->
                         <!--data-captionhidden="off"-->
                         <!--style="z-index: 11; text-shadow:none;">거래처-->
                    <!--</div>-->

                    <div class="tp-caption medium_bold_red skewfromleftshort customout start font300"
                         data-x="650" data-hoffset="-90"
                         data-y="430"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1850"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 13; text-shadow:none; font-weight:300;"><strong>94.7%</strong>
                    </div>

                    <div class="tp-caption medium_bg_darkblue skewfromleftshort customout"
                    data-x="800" data-hoffset="-90"
                    data-y="390",
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="1650"
                    data-easing="Back.easeOut"
                    data-endspeed="500"
                    data-endeasing="Power4.easeIn"
                    data-captionhidden="off"
                    style="z-index: 11; text-shadow:none;">협력기업
                    </div>

                    <div class="tp-caption medium_bg_red skewfromleftshort customout"
                         data-x="800" data-hoffset="-90"
                         data-y="430"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="2300"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 21; text-shadow:none;">고객만족도
                    </div>

                </li>

                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide 2">

                    <img src="Smarty/assets/images/1x1.png" data-lazyload="/images/main/check_valve.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

                    <div class="overlay dark-1"><!-- dark overlay [1 to 9 opacity] --></div>

                    <div class="tp-caption customin ltl tp-resizeme text_white"
                         data-x="center"
                         data-y="155"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1000"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 10;">
                        <span class="weight-300">Maintenance / RBDS / Validation / Construction</span>
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                         data-x="center"
                         data-y="205"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1200"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 10;">
                        WELCOME TO WOOJUNG BSC
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme small_light_white font-lato"
                         data-x="center"
                         data-y="295"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1400"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 10; width: 100%; max-width: 750px; white-space: normal; text-align:center; font-size:20px;">

                    </div>

                    <div class="tp-caption customin ltl tp-resizeme"
                         data-x="center"
                         data-y="383"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1550"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 10;">
                        <a href="#purchase" class="btn btn-default btn-lg">
                            <span>Join Woojung Now</span>
                        </a>
                    </div>

                </li>

                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Slide 3">
                    <!--<img src="Smarty/assets/images/1x1.png" data-lazyload="/images/main/wall2.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />-->
                    <img src="Smarty/assets/images/1x1.png" data-lazyload="/images/main/change_valve.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />
                    <div class="tp-caption lfr"
                         data-x="left" data-hoffset="60"
                         data-y="85"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 2;">

                    </div>

                    <div class="tp-caption block_black sft"
                         data-x="right" data-hoffset="-70"
                         data-y="137"
                         data-speed="750"
                         data-start="1100"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">WOOJUNG TECH TEAM
                    </div>

                    <div class="tp-caption block_black sfb"
                         data-x="right" data-hoffset="-70"
                         data-y="176"
                         data-speed="750"
                         data-start="1400"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">94.7% 고객만족도
                    </div>

                    <div class="tp-caption block_theme_color sft"
                         data-x="right"  data-hoffset="-70"
                         data-y="239"
                         data-speed="750"
                         data-start="1700"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">With Incredible
                    </div>

                    <div class="tp-caption block_theme_color sfb"
                         data-x="right"  data-hoffset="-70"
                         data-y="278"
                         data-speed="750"
                         data-start="2000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">Additions &amp; Outstanding
                    </div>

                    <div class="tp-caption block_black sft"
                         data-x="right"  data-hoffset="-70"
                         data-y="340"
                         data-speed="750"
                         data-start="2300"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">For Your Reliable Partner
                    </div>
                </li>

                <!-- SLIDE -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide 4">

                    <img src="Smarty/assets/images/1x1.png" data-lazyload="Smarty/assets/images/demo/video/back.jpg" alt="video" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption tp-fade fadeout fullscreenvideo"
                         data-x="0"
                         data-y="50"
                         data-speed="1000"
                         data-start="1100"
                         data-easing="Power4.easeOut"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1500"
                         data-endeasing="Power4.easeIn"
                         data-autoplay="true"
                         data-autoplayonlyfirsttime="false"
                         data-nextslideatend="true"
                         data-volume="mute"
                         data-forceCover="1"
                         data-aspectratio="16:9"
                         data-forcerewind="on" style="z-index: 2;">

                        <div class="tp-dottedoverlay twoxtwo"><!-- dotted overlay --></div>

                        <video class="" preload="none" style="widt:100%;height:100%" poster="Smarty/assets/images/demo/video/back.jpg">
                            <source src="/Smarty/assets/images/demo/video/back.webm" type="video/webm" />
                            <source src="/Smarty/assets/images/demo/video/back.mp4" type="video/mp4" />
                        </video>

                    </div>

                    <!--<div class="tp-caption customin ltl tp-resizeme text_white"-->
                         <!--data-x="center"-->
                         <!--data-y="155"-->
                         <!--data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"-->
                         <!--data-speed="800"-->
                         <!--data-start="1000"-->
                         <!--data-easing="easeOutQuad"-->
                         <!--data-splitin="none"-->
                         <!--data-splitout="none"-->
                         <!--data-elementdelay="0.01"-->
                         <!--data-endelementdelay="0.1"-->
                         <!--data-endspeed="1000"-->
                         <!--data-endeasing="Power4.easeIn" style="z-index: 3;">-->
                        <!--<span class="weight-300">시공 / 유지보수 / Validation / 납품</span>-->
                    <!--</div>-->

                    <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                         data-x="center"
                         data-y="205"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1200"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 3;">
                        WELCOME TO WOOJUNG BSC
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme small_light_white font-lato"
                         data-x="center"
                         data-y="295"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1400"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 3; width: 100%; max-width: 750px; white-space: normal; text-align:center; font-size:20px;">
                        Since 1989 life-science research solution provider company
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme"
                         data-x="center"
                         data-y="363"
                         data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-start="1550"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style="z-index: 3;">
                        <a href="http://www.woojungbsc.co.kr" class="btn btn-default btn-lg">
                            <span>MORE INFORMATION</span>
                        </a>
                    </div>

                </li>

            </ul>

            <div class="tp-bannertimer"><!-- progress bar --></div>
        </div>
    </div>
    <!-- /REVOLUTION SLIDER -->


    <!-- INFO BAR -->
    <section class="info-bar info-bar-clean">
        <div class="container">

            <div class="row">

                <div class="col-sm-4">
                    <i class="glyphicon glyphicon-globe"></i>
                    <h3>A/S Service</h3>
                    <p>Customer First</p>
                </div>

                <div class="col-sm-4">
                    <i class="glyphicon glyphicon-usd"></i>
                    <h3>Validation</h3>
                    <p>Guarantee Reliability</p>
                </div>

                <div class="col-sm-4">
                    <i class="glyphicon glyphicon-flag"></i>
                    <h3>Equip, Delivery</h3>
                    <p>High Performance</p>
                </div>

            </div>

        </div>
    </section>
    <!-- /INFO BAR -->



    <!-- WELCOME -->
    <section class="nopadding-bottom">
        <div class="container">
            <header class="text-center margin-bottom-40">
                <h1 class="weight-300">Welcome to Woojung BSC 기술부</h1>
                <h2 class="weight-300 letter-spacing-1 size-13"><span>100% 고객만족 서비스</span></h2>
            </header>

            <div class="text-center">
                <p class="lead">
                    우정BSC 기술부에 오신 것을 환영합니다.
                </p>

                <div class="margin-top-40">
                    <img class="img-responsive" src="/images/main/bottom_main.jpg" alt="welcome" />
                </div>

            </div>
        </div>
    </section>
    <!-- /WELCOME -->




    <!-- -->
    <section class="alternate">
        <div class="container">

            <div class="row">

                <div class="col-md-4">

                    <div class="box-icon box-icon-side box-icon-color box-icon-round">
                        <i class="fa fa-wrench"></i>
                        <a class="box-icon-title" href="#">
                            <h2>Maintenance</h2>
                        </a>
                        <p>제품 신뢰성 보장, 완벽한 사후관리</p>
                        <a class="box-icon-more font-lato weight-300" href="#">Learn More</a>
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="box-icon box-icon-side box-icon-color box-icon-round">
                        <i class="fa fa-flask"></i>
                        <a class="box-icon-title" href="#">
                            <h2>Sterilization</h2>
                        </a>
                        <p>RBDS/EBDS를 통한 완벽한 멸균 대행 서비스</p>
                        <a class="box-icon-more font-lato weight-300" href="#">Learn More</a>
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="box-icon box-icon-side box-icon-color box-icon-round">
                        <i class="fa fa-check"></i>
                        <a class="box-icon-title" href="#">
                            <h2>Validation</h2>
                        </a>
                        <p>신속하고 정확한 고객 만족 서비스</p>
                        <a class="box-icon-more font-lato weight-300" href="#">Learn More</a>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- / -->









    <!-- WORK -->
    <section class="nopadding">
        <div id="portfolio" class="portfolio-nogutter">
            <div class="row mix-grid">

                <div class="col-md-3 col-sm-3 mix development"><!-- item -->

                    <div class="item-box">
                        <figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="Smarty/assets/images/demo/mockups/1200x800/1-min.jpg" data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus size-20"></span>
											</a>

                                            <!-- details -->
											<a class="ico-rounded" href="portfolio-single-slider.html">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

                            <img class="img-responsive" src="Smarty/assets/images/demo/mockups/600x399/1-min.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Nature Photography</h3>
                            <ul class="list-inline categories nomargin">
                                <li><a href="#">Photography</a></li>
                                <li><a href="#">Design</a></li>
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix development"><!-- item -->

                    <div class="item-box">
                        <figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="Smarty/assets/images/demo/mockups/1200x800/11-min.jpg" data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus size-20"></span>
											</a>

                                            <!-- details -->
											<a class="ico-rounded" href="portfolio-single-slider.html">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

                            <img class="img-responsive" src="Smarty/assets/images/demo/mockups/600x399/11-min.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Nature Photography</h3>
                            <ul class="list-inline categories nomargin">
                                <li><a href="#">Photography</a></li>
                                <li><a href="#">Design</a></li>
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix photography"><!-- item -->

                    <div class="item-box">
                        <figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="Smarty/assets/images/demo/mockups/1200x800/20-min.jpg" data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus size-20"></span>
											</a>

                                            <!-- details -->
											<a class="ico-rounded" href="portfolio-single-slider.html">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

                            <img class="img-responsive" src="Smarty/assets/images/demo/mockups/600x399/20-min.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Fashion Design</h3>
                            <ul class="list-inline categories nomargin">
                                <li><a href="#">Photography</a></li>
                                <li><a href="#">Design</a></li>
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix design"><!-- item -->

                    <div class="item-box">
                        <figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="Smarty/assets/images/demo/mockups/1200x800/19-min.jpg" data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus size-20"></span>
											</a>

                                            <!-- details -->
											<a class="ico-rounded" href="portfolio-single-slider.html">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

                            <img class="img-responsive" src="Smarty/assets/images/demo/mockups/600x399/19-min.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Ocean Project</h3>
                            <ul class="list-inline categories nomargin">
                                <li><a href="#">Photography</a></li>
                                <li><a href="#">Design</a></li>
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix design"><!-- item -->

                    <div class="item-box">
                        <figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="Smarty/assets/images/demo/mockups/1200x800/12-min.jpg" data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus size-20"></span>
											</a>

                                            <!-- details -->
											<a class="ico-rounded" href="portfolio-single-slider.html">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

                            <img class="img-responsive" src="Smarty/assets/images/demo/mockups/600x399/12-min.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Architect Project</h3>
                            <ul class="list-inline categories nomargin">
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Design</a></li>
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix development"><!-- item -->

                    <div class="item-box">
                        <figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="Smarty/assets/images/demo/mockups/1200x800/13-min.jpg" data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus size-20"></span>
											</a>

                                            <!-- details -->
											<a class="ico-rounded" href="portfolio-single-slider.html">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

                            <img class="img-responsive" src="Smarty/assets/images/demo/mockups/600x399/13-min.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Speaker Design</h3>
                            <ul class="list-inline categories nomargin">
                                <li><a href="#">Audio</a></li>
                                <li><a href="#">Design</a></li>
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix photography"><!-- item -->

                    <div class="item-box">
                        <figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="Smarty/assets/images/demo/mockups/1200x800/14-min.jpg" data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus size-20"></span>
											</a>

                                            <!-- details -->
											<a class="ico-rounded" href="portfolio-single-slider.html">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

                            <img class="img-responsive" src="Smarty/assets/images/demo/mockups/600x399/14-min.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Mobile Development</h3>
                            <ul class="list-inline categories nomargin">
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Design</a></li>
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix design"><!-- item -->

                    <div class="item-box">
                        <figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="Smarty/assets/images/demo/mockups/1200x800/15-min.jpg" data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus size-20"></span>
											</a>

                                            <!-- details -->
											<a class="ico-rounded" href="portfolio-single-slider.html">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

                            <img class="img-responsive" src="Smarty/assets/images/demo/mockups/600x399/15-min.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Nature Art</h3>
                            <ul class="list-inline categories nomargin">
                                <li><a href="#">Nature</a></li>
                                <li><a href="#">Art</a></li>
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->

            </div>

        </div>
    </section>
    <!-- /WORK -->


    <!-- TEAM -->
    <section>
        <div class="container">

            <header class="text-center margin-bottom-60">
                <h1 class="weight-300">우정BSC 기술부</h1>
                <h2 class="weight-300 letter-spacing-1 size-13"><span>항상 고객을 먼저 생각합니다.</span></h2>
            </header>

            <div class="row">

                <!-- item -->
                <div class="col-md-3 col-sm-6">

                    <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
                        <div class="front">
                            <div class="box1 box-default">
                                <div class="box-icon-title">
                                    <img class="img-responsive" src="Smarty/assets/images/demo/people/460x700/7-min.jpg" alt="" />
                                    <h2>Felica Doe</h2>
                                    <small>CEO</small>
                                </div>
                            </div>
                        </div>

                        <div class="back">
                            <div class="box2 box-default">
                                <h4 class="nomargin">Felica Doe</h4>
                                <small>CEO</small>

                                <hr />

                                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>

                                <hr />

                                <a href="#" class="social-icon social-icon-sm social-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-twitter">
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-linkedin">
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-3 col-sm-6">

                    <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
                        <div class="front">
                            <div class="box1 box-default">
                                <div class="box-icon-title">
                                    <img class="img-responsive" src="Smarty/assets/images/demo/people/460x700/12-min.jpg" alt="" />
                                    <h2>Joana Doe</h2>
                                    <small>Art Director</small>
                                </div>
                            </div>
                        </div>

                        <div class="back">
                            <div class="box2 box-default">
                                <h4 class="nomargin">Joana Doe</h4>
                                <small>Art Director</small>

                                <hr />

                                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>

                                <hr />

                                <a href="#" class="social-icon social-icon-sm social-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-twitter">
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-linkedin">
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-3 col-sm-6">

                    <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
                        <div class="front">
                            <div class="box1 box-default">
                                <div class="box-icon-title">
                                    <img class="img-responsive" src="Smarty/assets/images/demo/people/460x700/10-min.jpg" alt="" />
                                    <h2>Melissa Doe</h2>
                                    <small>Web Developer</small>
                                </div>
                            </div>
                        </div>

                        <div class="back">
                            <div class="box2 box-default">
                                <h4 class="nomargin">Melissa Doe</h4>
                                <small>Web Developer</small>

                                <hr />

                                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>

                                <hr />

                                <a href="#" class="social-icon social-icon-sm social-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-twitter">
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-linkedin">
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-3 col-sm-6">

                    <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
                        <div class="front">
                            <div class="box1 box-default">
                                <div class="box-icon-title">
                                    <img class="img-responsive" src="Smarty/assets/images/demo/people/460x700/8-min.jpg" alt="" />
                                    <h2>Jessica Doe</h2>
                                    <small>Manager</small>
                                </div>
                            </div>
                        </div>

                        <div class="back">
                            <div class="box2 box-default">
                                <h4 class="nomargin">Jessica Doe</h4>
                                <small>Manager</small>

                                <hr />

                                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>

                                <hr />

                                <a href="#" class="social-icon social-icon-sm social-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-twitter">
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-linkedin">
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /item -->

            </div>


        </div>
    </section>
    <!-- /TEAM -->




    <!--
        controlls-over		= navigation buttons over the image
        buttons-autohide 	= navigation buttons visible on mouse hover only

        data-plugin-options:
            "singleItem": true
            "autoPlay": true (or ms. eg: 4000)
            "navigation": true
            "pagination": true
    -->
    <!--<div class="text-center margin-top-30 margin-bottom-30">-->
        <!--<div class="owl-carousel nomargin" data-plugin-options='{"items":6, "singleItem": false, "autoPlay": true}'>-->
            <!--<div>-->
                <!--<img height="100px" class="img-responsive" src="/images/customer/customer_1.jpg" alt="">-->
            <!--</div>-->
            <!--<div>-->
                <!--<img class="img-responsive" src="/images/customer/customer_2.jpg" alt="">-->
            <!--</div>-->
            <!--<div>-->
                <!--<img class="img-responsive" src="/images/customer/customer_3.jpg" alt="">-->
            <!--</div>-->
            <!--<div>-->
                <!--<img class="img-responsive" src="/images/customer/customer_4.jpg" alt="">-->
            <!--</div>-->
            <!--<div>-->
                <!--<img class="img-responsive" src="/images/customer/customer_5.jpg" alt="">-->
            <!--</div>-->
            <!--<div>-->
                <!--<img class="img-responsive" src="/images/customer/customer_6.jpg" alt="">-->
            <!--</div>-->
            <!--<div>-->
                <!--<img class="img-responsive" src="Smarty/assets/images/demo/brands/7.jpg" alt="">-->
            <!--</div>-->
            <!--<div>-->
                <!--<img class="img-responsive" src="Smarty/assets/images/demo/brands/8.jpg" alt="">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- Footer Logo -->
                    <img class="footer-logo" width="200px" src="/Smarty/assets/images/logo-footer.png" alt="" />


                    <!-- Small Description -->
                    <p>우정BSC 기술부</p>

                    <!-- Contact Address -->
                    <address>
                        <ul class="list-unstyled">
                            <li class="footer-sprite address">
                                경기도 수원시 영통구 광교로 145<br>
                                차세대융합 기술연구원 A동 8층<br>
                                (주)우정비에스씨 기술부<br>
                            </li>
                            <li class="footer-sprite phone">
                                Phone: 031-888-9550
                            </li>
                            <li class="footer-sprite email">
                                <a href="mailto:wj@woojungbsc.co.kr">wj@woojungbsc.co.kr</a>
                            </li>
                        </ul>
                    </address>
                    <!-- /Contact Address -->

                </div>

                <div class="col-md-5">

                    <!-- Latest Blog Post -->
                    <h4 class="letter-spacing-1">NOTABLE WORKS</h4>
                    <ul class="footer-posts list-unstyled">
                        <li>
                            <a href="#">메르스 멸균 수행</a>
                            <small>June 2015</small>
                        </li>
                        <li>
                            <a href="#">과산화수소증기 멸균기술 국내 최초 소개. 실내공간 멸균서비스 제공</a>
                            <small>August 2005</small>
                        </li>
                        <li>
                            <a href="#">I.R.D.C USA 국내 최초의 CRO 사업 기록 - 유한양행, 동아제약, LG</a>
                            <small>November 1991</small>
                        </li>
                        <li>
                            <a href="#">우정 BSC 창립</a>
                            <small>April 1989</small>
                        </li>
                    </ul>
                    <!-- /Latest Blog Post -->

                </div>

                <!--<div class="col-md-2">-->

                    <!--&lt;!&ndash; Links &ndash;&gt;-->
                    <!--<h4 class="letter-spacing-1">EXPLORE SMARTY</h4>-->
                    <!--<ul class="footer-links list-unstyled">-->
                        <!--<li><a href="/login">Home</a></li>-->
                        <!--<li><a href="#">About Us</a></li>-->
                        <!--<li><a href="#">Our Services</a></li>-->
                        <!--<li><a href="#">Our Clients</a></li>-->
                        <!--<li><a href="#">Our Pricing</a></li>-->
                        <!--<li><a href="#">Smarty Tour</a></li>-->
                        <!--<li><a href="#">Contact Us</a></li>-->
                    <!--</ul>-->
                    <!--&lt;!&ndash; /Links &ndash;&gt;-->

                <!--</div>-->

                <div class="col-md-4">

                    <!-- Newsletter Form -->
                    <h4 class="letter-spacing-1">KEEP IN TOUCH</h4>
                    <p>지금 바로 우정BSC와 함께하세요</p>

                    <form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </form>
                    <!-- /Newsletter Form -->

                    <!-- Social Icons -->
                    <div class="margin-top-20">
                        <a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">

                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
                            <i class="icon-rss"></i>
                            <i class="icon-rss"></i>
                        </a>

                    </div>
                    <!-- /Social Icons -->

                </div>

            </div>

        </div>

        <div class="copyright">
            <div class="container">
                <ul class="pull-right nomargin list-inline mobile-block">
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li>&bull;</li>
                    <li><a href="#">Privacy</a></li>
                </ul>
                &copy; All Rights Reserved, Company WOOJUNG BSC
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!--
    SIDE PANEL

        sidepanel-dark 			= dark color
        sidepanel-light			= light color (white)
        sidepanel-theme-color		= theme color

        sidepanel-inverse		= By default, sidepanel is placed on right (left for RTL)
                        If you add "sidepanel-inverse", will be placed on left side (right on RTL).
-->
<div id="sidepanel" class="sidepanel-light">
    <a id="sidepanel_close" href="#"><!-- close -->
        <i class="glyphicon glyphicon-remove"></i>
    </a>

    <div class="sidepanel-content">
        <h2 class="sidepanel-title">Explore Woojung</h2>

        <!-- SIDE NAV -->
        <ul class="list-group">

            <li class="list-group-item">
                <a href="#">
                    <i class="ico-category et-heart"></i>
                    ABOUT US
                </a>
            </li>
            <li class="list-group-item list-toggle"><!-- add "active" to stay open on page load -->
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-1" class="collapsed">
                    <i class="ico-dd icon-angle-down"><!-- Drop Down Indicator --></i>
                    <i class="ico-category et-strategy"></i>
                    PORTFOLIO
                </a>
                <ul id="collapse-1" class="list-unstyled collapse"><!-- add "in" to stay open on page load -->
                    <li><a href="#"><i class="fa fa-angle-right"></i> 1 COLUMN</a></li>
                    <li class="active">
                        <span class="badge">New</span>
                        <a href="#"><i class="fa fa-angle-right"></i> 2 COLUMNS</a>
                    </li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> 3 COLUMNS</a></li>
                </ul>
            </li>
            <li class="list-group-item list-toggle"><!-- add "active" to stay open on page load -->
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-2" class="collapsed">
                    <i class="ico-dd icon-angle-down"><!-- Drop Down Indicator --></i>
                    <i class="ico-category et-trophy"></i>
                    PORTFOLIO
                </a>
                <ul id="collapse-2" class="list-unstyled collapse"><!-- add "in" to stay open on page load -->
                    <li><a href="#"><i class="fa fa-angle-right"></i> SLIDER</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right"></i> HEADERS</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> FOOTERS</a></li>
                </ul>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <i class="ico-category et-happy"></i>
                    BLOG
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <i class="ico-category et-beaker"></i>
                    FEATURES
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <i class="ico-category et-map-pin"></i>
                    CONTACT
                </a>
            </li>

        </ul>
        <!-- /SIDE NAV -->

        <!-- social icons -->
        <div class="text-center margin-bottom-30">

            <a href="#" class="social-icon social-icon-sm social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-rss" data-toggle="tooltip" data-placement="top" title="RSS">
                <i class="icon-rss"></i>
                <i class="icon-rss"></i>
            </a>

        </div>
        <!-- /social icons -->

    </div>

</div>
<!-- /SIDE PANEL -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- PRELOADER -->
<div id="preloader">
    <div class="inner">
        <span class="loader"></span>
    </div>
</div><!-- /PRELOADER -->


<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = 'Smarty/assets/plugins/';</script>
<script type="text/javascript" src="Smarty/assets/plugins/jquery/jquery-2.2.3.min.js"></script>

<script type="text/javascript" src="Smarty/assets/js/scripts.js"></script>

<!-- STYLESWITCHER - REMOVE -->
<script async type="text/javascript" src="Smarty/assets/plugins/styleswitcher/styleswitcher.js"></script>

<!-- REVOLUTION SLIDER -->
<script type="text/javascript" src="Smarty/assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="Smarty/assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="Smarty/assets/js/view/demo.revolution_slider.js"></script>

</body>
</html>