<%- layout('layout') %>






<table style="position:relative; top:20%" align=center>
    <tr>
        <td align=center><a href="/AS/getAllList"><img style="width:200px;height:200px" src=/images/after_service.jpg></a></td>
        <td align=center><a href="/inspection/createForm"><img style="width:200px;height:200px" src=/images/inspection.jpg></a></td>
        <td align=center><a href="#"><img style="width:200px;height:200px" src=/images/calendar.jpg></a></td>
    </tr>
    <tr>
        <td align=center>A/S관리</td>
        <td align=center>주기안내</td>
        <td align=center>캘린더</td>
    </tr>

</table>

