<%- layout('layout') %>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            </button>
            <a class="brand" href="/login">Woojung</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/AS/getAllList">A/S관리</a></li>
                    <li><a href="/inspection/createForm">주기안내</a></li>
                    <li><a href="/about">캘린더</a></li>
                </ul>
                <form class="navbar-form pull-right" method="post" action="/login/logout">
                    <button type="submit" class="btn btn-danger">로그아웃</button>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>




<table style="position:relative; top:20%" align=center>
    <tr>
        <td align=center><a href="/AS/getAllList"><img style="width:200px;height:200px" src=/images/after_service.jpg></a></td>
        <td align=center><a href="/inspection/createForm"><img style="width:200px;height:200px" src=/images/inspection.jpg></a></td>
        <td align=center><a href="#"><img style="width:200px;height:200px" src=/images/calendar.jpg></a></td>
    </tr>
    <tr>
        <td align=center>A/S관리</td>
        <td align=center>주기안내</td>
        <td align=center>캘린더</td>
    </tr>

</table>

