<%- layout('../layout') %>

<div align=center style="position:relative; top:7%;">
    <table align="center" width="600px" class="table-bordered table-condensed table-striped" border="1">
        <tr>
            <th>순번</th>
            <th>항목</th>
            <th>비고</th>
        </tr>
        <tr>
            <td align="center">1</td>
            <td align="center">A/S</td>
            <td align="center"><a href="/excel/complaint"><button class="btn btn-primary">엑셀 추출</button></a></td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="center">캘린더</td>
            <td align="center"><a href="/excel/calendar"><button class="btn btn-primary">엑셀 추출</button></a></td>
        </tr>
    </table>
</div>

