<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>WoojungBSC TECH DEPARTMENT</title>

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- WEB FONTS : use %7C instead of | (pipe) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="/Smarty/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!--date_picker-->
    <link href="/jquery/jquery-ui.min.css" rel="stylesheet">
    <link href="/jquery/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="/jquery/jquery-ui.theme.min.css" rel="stylesheet">


    <!-- THEME CSS -->
    <link href="/Smarty/assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="/Smarty/assets/css/layout.css" rel="stylesheet" type="text/css" />

    <!-- PAGE LEVEL SCRIPTS -->
    <link href="/Smarty/assets/css/header-1.css" rel="stylesheet" type="text/css" />
    <link href="/Smarty/assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
    <style>
        *{
            font-family: 나눔고딕;
        }
    </style>
    <script type="text/javascript" src="/Smarty/assets/plugins/jquery/jquery-2.2.3.min.js"></script>
    <script src="/jquery/jquery-ui.min.js"></script>


    <!--data table-->
    <!-- CSS DATATABLES -->
    <link href="/Smarty/assets/css/layout-datatables.css" rel="stylesheet" type="text/css"/>



    <!-- JS DATATABLES -->
    <script type="text/javascript" src="/Smarty/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/Smarty/assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="/Smarty/assets/plugins/select2/js/select2.full.min.js"></script>


</head>


<body class="smoothscroll enable-animation">

<!-- SLIDE TOP -->
<div id="slidetop">

    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <h6><i class="icon-heart"></i> 우정BSC 기술부</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. </p>
            </div>

            <div class="col-md-4">
                <h6><i class="icon-attachment"></i> RECENTLY VISITED</h6>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> This is a very long text, very very very very very very very very very very very very </a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> Dolor sit amet,consectetur adipiscing elit amet</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet,consectetur adipiscing elit</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h6><i class="icon-envelope"></i>Contact</h6>
                <ul class="list-unstyled">
                    <li><b>주소:</b> 경기도 수원시 영통구 광교로 145,<br> 차세대융합기술연구원 A동8층</li>
                    <li><b>전화번호:</b> 031-888-9369</li>
                    <li><b>E-mail:</b> wj@woojungbsc.co.kr</li>
                    <li><b>Fax:</b> 031-888-9368</li>
                </ul>
            </div>

        </div>

    </div>

    <a class="slidetop-toggle" href="#"><!-- toggle button --></a>

</div>
<!-- /SLIDE TOP -->


<!-- wrapper -->
<div id="wrapper">

    <!-- Top Bar -->
    <div id="topBar">
        <div class="container">

            <!-- right -->
            <ul class="top-links list-inline pull-right">
                <li class="text-welcome hidden-xs">Welcome to Woojung, <strong><%=name%>님</strong></li>
                <li>
                    <a class="dropdown-toggle no-text-underline" href="/login/logout"><i class="glyphicon glyphicon-off"></i>로그아웃</a>
                </li>
            </ul>

        </div>
    </div>

    <div id="header" class="sticky shadow-after-3 clearfix">

        <!-- TOP NAV -->
        <header id="topNav">
            <div class="container">

                <!-- Mobile Menu Button -->
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- Logo -->
                <a class="logo pull-left" href="/login">
                    <img src="/Smarty/assets/images/logo.png" alt="" />
                </a>


                <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
                    <nav class="nav-main">

                        <ul id="topMain" class="nav nav-pills nav-main">
                            <li class="dropdown active"><!-- HOME -->
                                <a href="/AS/getAllList">
                                    A/S관리
                                </a>
                            </li>
                            <li class="dropdown"><!-- PAGES -->
                                <a href="/inspection/createForm">
                                    주기안내
                                </a>
                            </li>
                            <li class="dropdown"><!-- PAGES -->
                                <a href="/calendar">
                                    캘린더
                                </a>
                            </li>
                            <li class="dropdown"><!-- SHOP -->
                                <a class="dropdown-toggle">
                                    DB관리
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li class="dropdown">
                                        <a href="/member">
                                            <i class="et-genius"></i> 직원관리
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/customer">
                                            <i class="et-newspaper"></i>거래처 관리
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/code">
                                            <i class="et-expand"></i> 데이터 관리
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/addressBook">
                                            <i class="et-magnifying-glass"></i> 주소록 관리
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/equipment">
                                            <i class="et-trophy"></i> 장비명 관리
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/excel">
                                            <i class="et-grid"></i> 엑셀 추출
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a id="sidepanel_btn" href="#" class="fa fa-bars"></a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </header>
        <!-- /Top Nav -->

    </div>

    <script>
    $(function() {
        $( ".date_picker" ).datepicker({
            dateFormat:'yy년 mm월 dd일',
            changeMonth: true,
            dayNames: [ '일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
            dayNamesMin: ['일','월', '화', '수', '목', '금', '토'],
            monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
            monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월']
        });
    });
    function insertNextDate(){
        var lastDate = document.getElementsByClassName('date_picker')[0];
        var nextDate = document.getElementById('nextDate');

        var nextDate_value = parseInt(lastDate.value.split('년')[0])+1;
        nextDate.value = nextDate_value + '년'+lastDate.value.split('년')[1];

        if(lastDate.value.split('년 ')[1]=='02월 29일'){
            //윤년의 2월 29일의 경우
            nextDate.value = nextDate_value + '년 02월 28일';
        }
    }
</script>

    <!-- WELCOME -->
    <section class="nopadding-bottom">
        <div class="container">

            <div class="row form-group">
<div style="position:relative;width:50%;left:25%;top:7%;" align="center">
<table>
    <form method="post" action="/inspection/send">
    <tr>
        <td  style="border-bottom: 1px solid black">교정번호</td>
        <td  style="border-bottom: 1px solid black"><input type="text" name="no" class="form-control"></td>
        <td rowspan="2"><img align="right" src="/images/inspection_woojunglogo.jpg"></td>
    </tr>
    <tr>
        <td style="height:40px"></td>
        <td style="height:40px"></td>
    </tr>
    <tr style="border-top: 2px solid black">
        <td>제 목</td>
        <td colspan="2" style="position:relative;left:-18%;">Bioquell 과산화수소 증기 멸균기(HPV)의 검교정(Calibration) 일자 공지 안내문</td>
    </tr>
    <tr>
        <td>수 신</td>
        <td colspan="2" style="position:relative;left:-18%;"><input type="text" name="receiver" class="form-control"></td>
    </tr>
    <tr  style="border-bottom: 2px solid black">
        <td>발 신</td>
        <td style="position:relative;left:-18%;" colspan="2">(주)우정비에스씨 기술부 벨리데이션팀</td>
    </tr>
    <tr>
        <td colspan="3" style="height:30px"></td>
    </tr>
    <tr>
        <td colspan="3">귀사의 무궁한 발전을 기원합니다.</td>
    </tr>
    <tr>
        <td colspan="3" style="height:10px"></td>
    </tr>
    <tr>
        <td colspan="3">저희 제품을 항상 애용해 주셔서 감사합니다.</td>
    </tr>
    <tr>
        <td colspan="3" style="height:10px"></td>
    </tr>
    <tr>
        <td colspan="3">사용하시고 계신 과산화수소 증기 멸균기의 검교정 기일이 만료 예정에 있어, 이에 대한 안내를 드리고자 합니다. 과산화수소증기 멸균기의 유지보수와 안전한 사용을 위해 1년에 한번의 검교정을 추천하고 있습니다. 현재 보유하고 계신 장비의 현황과 검교정 예정일을 안내드리오니, 진행여부 결정하신 후 희망 검교정 예정일 6주 전에 첨부되어있는 검교정 신청서를 제출해주시면 안내 드리도록 하겠습니다.</td>
    </tr>
    <tr>
        <td colspan="3" style="height:10px"></td>
    </tr>
    <tr>
        <td colspan="3">고객 여러분들의 신뢰에 보답할 수 있도록 서비스와 유지관리를 위해 앞으로도 최선을 다하도록 하겠습니다.</td>
    </tr>
    <tr>
        <td colspan="3" style="height:10px"></td>
    </tr>
    <tr>
        <td colspan="3">감사합니다.</td>
    </tr>
    <tr>
        <td colspan="3" style="height:10px"></td>
    </tr>
    <tr>
        <td colspan="3" style="height:10px" align="center"><b>&lt;&nbsp;아&nbsp;&nbsp;래&nbsp;&gt;</b></td>
    </tr>
    <tr><td colspan="3" style="height:20px"></td></tr>
    <tr>
        <td colspan="3"><b>1. 보유 장비 정보</b></td>
    </tr>
    <tr><td colspan="3" style="height:20px"></td></tr>
    <tr>
        <td style="width:25%"><span style="position:relative;left:10%">1) 장비 모델명/SN#: </span></td>
        <td colspan="2"><input type="text" name="equipAndserialNum" class="form-control"></td>
    </tr>
    <tr><td colspan="3" style="height:10px"></td></tr>
    <tr>
        <td style="width:25%"><span style="position:relative;left:10%">2) 마지막 검교정일: </span></td>
        <td colspan="2"><input class="date_picker form-control" type="text" name="lastInspectionDate"  onchange="insertNextDate();"></td>
    </tr>
    <tr><td colspan="3" style="height:10px"></td></tr>
    <tr>
        <td style="width:25%"><span style="position:relative;left:10%">3) 차기 검교정일: </span></td>
        <td colspan="2"><input id="nextDate" type="text" name="nextInspectionDate" class="form-control"></td>
    </tr>
    <tr><td colspan="3" style="height:10px"></td></tr>
    <tr>
        <td style="width:25%"><span style="position:relative;left:10%">4) 검교정 주기: </span></td>
        <td colspan="2"><input type="text" name="inspectionPeriod" class="form-control"></td>
    </tr>
    <tr><td colspan="3" style="height:20px"></td></tr>
    <tr>
        <td colspan="3"><b>2. 문의처</b></td>
    </tr>
    <tr><td colspan="3" style="height:30px"></td></tr>
    <tr>
        <td style="width:25%"><span style="position:relative;left:10%">1) 담당팀: </span></td>
        <td colspan="2">(주)우정비에스씨 기술부 벨리데이션팀</td>
    </tr>
    <tr><td colspan="3" style="height:10px"></td></tr>
    <tr>
        <td style="width:25%"><span style="position:relative;left:10%">2) 연락처: </span></td>
        <td colspan="2"><b>1522-1277</b> (우정콜센터)</td>
    </tr>
    <tr><td colspan="3" style="height:30px"></td></tr>
    <tr>
        <td colspan="3"><b><i>※ 검교정 완료 후 제출문서 : 교정 성적서, Test 결과 보고서</i></b></td>
    </tr>
    <tr><td colspan="3" style="height:30px"></td></tr>
    <tr>
        <td colspan="3">첨부 1. 검교정 신청서</td>
    </tr>
    <tr>
        <td>메일주소</td>
        <td><input type="text" name="customer_email" class="form-control"></td>
        <td><input type="submit" value="메일 발송" class="form-control btn btn-success"></td>
    </tr>
    </form>
</table>
</div>
            </div>
        </div>
    </section>
    <!-- /WELCOME -->



    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <!-- Footer Logo -->
                    <img class="footer-logo" width="200px" src="/Smarty/assets/images/logo-footer.png" alt="" />

                    <!-- Small Description -->
                    <p>우정BSC 기술부</p>

                    <!-- Contact Address -->
                    <address>
                        <ul class="list-unstyled">
                            <li class="footer-sprite address">
                                경기도 수원시 영통구 광교로 145<br>
                                차세대융합 기술연구원 A동 8층<br>
                                (주)우정비에스씨 기술부<br>
                            </li>
                            <li class="footer-sprite phone">
                                Phone: 031-888-9550
                            </li>
                            <li class="footer-sprite email">
                                <a href="mailto:wj@woojungbsc.co.kr">wj@woojungbsc.co.kr</a>
                            </li>
                        </ul>
                    </address>
                    <!-- /Contact Address -->

                </div>

                <div class="col-md-5">

                    <!-- Latest Blog Post -->
                    <h4 class="letter-spacing-1">NOTABLE WORKS</h4>
                    <ul class="footer-posts list-unstyled">
                        <li>
                            <a href="#">메르스 멸균 수행</a>
                            <small>June 2015</small>
                        </li>
                        <li>
                            <a href="#">과산화수소증기 멸균기술 국내 최초 소개. 실내공간 멸균서비스 제공</a>
                            <small>August 2005</small>
                        </li>
                        <li>
                            <a href="#">I.R.D.C USA 국내 최초의 CRO 사업 기록 - 유한양행, 동아제약, LG</a>
                            <small>November 1991</small>
                        </li>
                        <li>
                            <a href="#">우정 BSC 창립</a>
                            <small>April 1989</small>
                        </li>
                    </ul>
                    <!-- /Latest Blog Post -->

                </div>

                <!--<div class="col-md-2">-->

                <!--&lt;!&ndash; Links &ndash;&gt;-->
                <!--<h4 class="letter-spacing-1">EXPLORE SMARTY</h4>-->
                <!--<ul class="footer-links list-unstyled">-->
                <!--<li><a href="/login">Home</a></li>-->
                <!--<li><a href="#">About Us</a></li>-->
                <!--<li><a href="#">Our Services</a></li>-->
                <!--<li><a href="#">Our Clients</a></li>-->
                <!--<li><a href="#">Our Pricing</a></li>-->
                <!--<li><a href="#">Smarty Tour</a></li>-->
                <!--<li><a href="#">Contact Us</a></li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /Links &ndash;&gt;-->

                <!--</div>-->

                <div class="col-md-4">

                    <!-- Newsletter Form -->
                    <h4 class="letter-spacing-1">KEEP IN TOUCH</h4>
                    <p>지금 바로 우정BSC와 함께하세요</p>

                    <form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </form>
                    <!-- /Newsletter Form -->

                    <!-- Social Icons -->
                    <div class="margin-top-20">
                        <a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">

                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>

                        <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
                            <i class="icon-rss"></i>
                            <i class="icon-rss"></i>
                        </a>

                    </div>
                    <!-- /Social Icons -->

                </div>

            </div>

        </div>

        <div class="copyright">
            <div class="container">
                <ul class="pull-right nomargin list-inline mobile-block">
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li>&bull;</li>
                    <li><a href="#">Privacy</a></li>
                </ul>
                &copy; All Rights Reserved, Company WOOJUNG BSC
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!--
    SIDE PANEL

        sidepanel-dark 			= dark color
        sidepanel-light			= light color (white)
        sidepanel-theme-color		= theme color

        sidepanel-inverse		= By default, sidepanel is placed on right (left for RTL)
                        If you add "sidepanel-inverse", will be placed on left side (right on RTL).
-->
<div id="sidepanel" class="sidepanel-light">
    <a id="sidepanel_close" href="#"><!-- close -->
        <i class="glyphicon glyphicon-remove"></i>
    </a>

    <div class="sidepanel-content">
        <h2 class="sidepanel-title">Explore Smarty</h2>

        <!-- SIDE NAV -->
        <ul class="list-group">

            <li class="list-group-item">
                <a href="#">
                    <i class="ico-category et-heart"></i>
                    ABOUT US
                </a>
            </li>
            <li class="list-group-item list-toggle"><!-- add "active" to stay open on page load -->
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-1" class="collapsed">
                    <i class="ico-dd icon-angle-down"><!-- Drop Down Indicator --></i>
                    <i class="ico-category et-strategy"></i>
                    PORTFOLIO
                </a>
                <ul id="collapse-1" class="list-unstyled collapse"><!-- add "in" to stay open on page load -->
                    <li><a href="#"><i class="fa fa-angle-right"></i> 1 COLUMN</a></li>
                    <li class="active">
                        <span class="badge">New</span>
                        <a href="#"><i class="fa fa-angle-right"></i> 2 COLUMNS</a>
                    </li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> 3 COLUMNS</a></li>
                </ul>
            </li>
            <li class="list-group-item list-toggle"><!-- add "active" to stay open on page load -->
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-2" class="collapsed">
                    <i class="ico-dd icon-angle-down"><!-- Drop Down Indicator --></i>
                    <i class="ico-category et-trophy"></i>
                    PORTFOLIO
                </a>
                <ul id="collapse-2" class="list-unstyled collapse"><!-- add "in" to stay open on page load -->
                    <li><a href="#"><i class="fa fa-angle-right"></i> SLIDER</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right"></i> HEADERS</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> FOOTERS</a></li>
                </ul>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <i class="ico-category et-happy"></i>
                    BLOG
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <i class="ico-category et-beaker"></i>
                    FEATURES
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <i class="ico-category et-map-pin"></i>
                    CONTACT
                </a>
            </li>

        </ul>
        <!-- /SIDE NAV -->

        <!-- social icons -->
        <div class="text-center margin-bottom-30">

            <a href="#" class="social-icon social-icon-sm social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-rss" data-toggle="tooltip" data-placement="top" title="RSS">
                <i class="icon-rss"></i>
                <i class="icon-rss"></i>
            </a>

        </div>
        <!-- /social icons -->

    </div>

</div>
<!-- /SIDE PANEL -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- PRELOADER -->
<div id="preloader">
    <div class="inner">
        <span class="loader"></span>
    </div>
</div><!-- /PRELOADER -->


<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = '/Smarty/assets/plugins/';</script>


<script type="text/javascript" src="/Smarty/assets/js/scripts.js"></script>







</body>
</html>

